body {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}

.square-box {
    height: 30px;
    width: 30px;
    margin-left: 34px;
}

.rectangle {
    height: 30px;
    width: 367px;
    margin-left: 51px;
}

header {
    width: 100%;
    height: 60px;
    background-color: cyan;
    display: flex;
    align-items: center;
}

main {
    height: 650px;
    width: 80%;
}

main article {
    margin-top: 15px;
}

section {
    margin-left: 120px;
    margin-top: 15px;
    width: 105%;
    height: 540px;
    background-color: gainsboro;
}

.select {
    margin-top: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 80px;
    border-radius: 30px;
    aspect-ratio: 64/9;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    background-color: black;
    height: 70%;
    width: 80%;
}